* {
  margin: 0;
  padding: 0;
}

.left {
  left: 0;
  background-color: skyblue;
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.right {
  right: 0;
  background-color: white;
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.centered {
  background-color: white;
  height:70%;
  width: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8%; 
}

.items-list{
    position: absoulute;
    top: 5;
    width: 100%;
    background-color: white;
    height: 85%;
    overflow:auto;
}

  .items-list img{
    position: relative;
    height: 80%;
    width: auto;
    margin-left: 10%;
    margin-right: 2%;
  }

.total{
    width: 100%;
    background-color: lightgreen;
    height: 15%;
}

.qrcode {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: auto;
}

.logo {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4%;
}

.profile{
  height:20%;
  width:60%;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .profile img{
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    border-radius: 100%;
    height: 90%;
    width: auto;
  }
  
  .profile p{
    position: relative;
    top: 20%;
    left: 40%;
    font-size: 120%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  #name{
    font-size: 160%;

  }
  
.table{
  width:100%; 
  height:auto; 
  overflow:auto;
}




.total-text{
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 350%;
  color: white;
}

#showData table{
  width:100%; 
  height:auto; 
  overflow:auto;
  
}

#showData img{
  position: relative;
  padding-right: 2px;
}

#showData td{
  padding-left: 10px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  visibility: hidden;
  display:none;

}

.warungKeeper{
  opacity: 0;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  display:block;
  margin:auto;
}