* {
  margin: 0;
  padding: 0;
}

.left {
  left: 0;
  background-color: #0BA4CC;
  height: 100%;
  width: 53%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.right {
  right: 0;
  background-color: white;
  height: 100%;
  width: 47%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.centered {
  background-color: white;
  height:68%;
  width: 68%;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%; 
}

.items-list{
    position: absoulute;
    font-family:  'Conv_Ubuntu-Light', Helvetica, sans-serif;
    font-weight: lighter;
    top: 5;
    width: 100%;
    background-color: white;
    height: 90%;
    overflow:auto;
    color:  #1F3F4F;
}

  .items-list img{
    position: relative;
    height: 80%;
    width: auto;
    margin-left: 10%;
    margin-right: 2%;
  }

.total{
    width: 100%;
    background-color: #7ED321;
    height: 10%;
    position: absolute;
    bottom: 0px;
}

.qrcode {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: auto;
}

.logo {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4%;
}

.profile{
  height:20%;
  width:60%;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .profile img{
    top: 10%;
    margin-right: 5%;
    position: absolute;
    border-radius: 100%;
    height: 70%;
    width: auto;
  }
  
  .profile p{
    position: relative;
    top: 20%;
    left: 30%;
    font-size: 120%;
    color: white;
    font-family:  'Conv_Ubuntu-Light', Helvetica, sans-serif;
    font-weight: lighter;
  }

  #name{
    font-size: 160%;
    font-family: 'Conv_Ubuntu-Regular', Arial, sans-serif;
    font-weight: bold;

  }
  
.table{
  width:100%; 
  height:auto; 
  overflow:auto;
}




.total-text{
  font-family: 'Conv_Ubuntu-Light', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  float: left;
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
font-size: 350%;
font-size: 3vw;
  color: white;
}

#showData table{
  width:100%; 
  height:auto; 
  overflow:auto;
  
}

#showData img{
  position: relative;
  padding-right: 2px;
 
}

#showData td{
  padding-left: 5px;
  font-size: 150%;
  font-family: 'Conv_Ubuntu-Regular', Helvetica, Arial, sans-serif;
}

input{
  visibility: hidden;
  display:none;

}

.warungKeeper{
  opacity: 0;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  display:block;
  margin:auto;
}

@font-face {
	font-family: 'Conv_Ubuntu-Regular';
	src: url('../fonts/Ubuntu-Regular.eot');
	src: local('☺'), url('fonts/Ubuntu-Regular.woff') format('woff'), url('fonts/Ubuntu-Regular.ttf') format('truetype'), url('fonts/Ubuntu-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Ubuntu-Light';
	src: url('fonts/Ubuntu-Light.eot');
	src: local('☺'), url('fonts/Ubuntu-Light.woff') format('woff'), url('fonts/Ubuntu-Light.ttf') format('truetype'), url('fonts/Ubuntu-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.styleDescription{
  font-size: 80%;
}

.styleCurrencySymbol{
  font-size: 40%;
  float: left;
}

.priceCell{
  color: #7ED321;
}